.example-card{
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-height: 400px;
    max-width: 400px;
    text-align: center;
}
mat-card::ng-deep.mat-card-header-text {
    width: 100%;
}
.example-full-width{
    margin-bottom: 2%;
}