<mat-card class="example-card">
    <mat-card-content>
        <!-- 이메일 칸 -->
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" #userEmail required>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                이메일 주소 형식으로 입력하세요.
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
                이메일을 입력하세요.
          </mat-error>
        </mat-form-field>
        <br>
        <!-- 비밀번호 칸 -->
        <mat-form-field style="width: 180px;">     
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" #userPwd required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordFormControl.hasError('required') && !passwordFormControl.hasError('min')">
                비밀번호를 입력하세요.
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                8자리 이상 입력하세요.
            </mat-error>
        </mat-form-field>
        <br>
    </mat-card-content>
    <!-- 회원가입 버튼 -->
    <mat-card-actions>
        <button mat-button *ngIf="emailFormControl.invalid || passwordFormControl.invalid" disabled>회원가입</button>
        <button mat-button *ngIf="emailFormControl.valid && passwordFormControl.valid" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">회원가입</button>
    </mat-card-actions>
</mat-card>

