<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
        <p>Please enter your email address to request a password reset.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
          <button mat-raised-button color="primary" class="btn btnPrimary" (click)="authService.ForgotPassword(passwordResetEmail.value)" style="margin-left: 10px;">Reset Password</button>
        </div>
      </div>
      <div class="redirectToLogin">
        <br>
        <button mat-raised-button color="primary" class="redirect" routerLink="/login">로그인페이지로 돌아가기</button>
      </div>
    </div>
  </div>