<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="width: 140px;">
    <button mat-button (click)="clickUserProfile()" style="padding: 10px 50px 10px;">프로필</button>
    <button mat-button (click)="clickGetOut()" style="padding: 10px 45px 10px;">회원탈퇴</button>
  </mat-drawer>
  <mat-drawer-content  *ngFor="let user of collections">
    <!--
      <img class="align-self-start mr-4 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/img/dummy-user.jpg'}}" alt="{{user.displayName}}">
    -->
    <div class="userProfile-field" *ngIf="isClickUserProfile" style="margin-left: 100px; margin-top: 50px;">
      <div class="emailVerified-field" style="margin-top: 10px; margin-left: 40px;">
        <span>
          이메일 인증 : {{(user.emailVerified) ? '완료' : '안됨'}}
        </span>
        <button *ngIf="!user.emailVerified" mat-raised-button (click)="authService.SendVerificationMail()" style="margin-left: 80px; height: 40px;">메일 전송</button>
      </div>

      <div class="nickName-field" style="margin-top: 10px; margin-left: 40px;">
        <mat-form-field>
          <mat-label>닉네임 : {{(user.nickName) ? user.nickName : '없음'}}</mat-label>
          <input matInput [(ngModel)]="nickName">
        </mat-form-field>
        <button mat-raised-button (click)="changeNickName()" style="margin-left: 10px; height: 40px;">변경</button>
      </div>
  
      <div class="gender-field" style="margin-top: 20px; margin-left: 40px;">
        <mat-form-field>
          <mat-label>성별 : {{(user.gender) ? user.gender : '없음'}}</mat-label>
          <mat-select>
            <mat-option value="man" (click)="clickMan()">남</mat-option>
            <mat-option value="woman" (click)="clickWoman()">여</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="changeGender()" style="margin-left: 10px; height: 40px;">변경</button>
      </div>
  
      <div class="birth-field">
        <mat-form-field style="margin-top: 20px; margin-left: 40px; width:180px">
          <mat-label>생년월일 : {{(user.birth) ? (user.birth.seconds * 1000 | date:'MM-dd-yyyy') : '없음'}}</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button (click)="changeBirth()" style="margin-left: 10px; height: 40px;">변경</button>
      </div>
  
      <div class="phoneNumber-field" style="margin-top: 20px; margin-left: 40px;">
        <mat-form-field>
          <mat-label>전화번호 : {{(user.phoneNumber) ? user.phoneNumber : '없음'}}</mat-label>
          <input matInput [(ngModel)]="phoneNumber" placeholder="'-'없이 입력하세요">
        </mat-form-field>
        <button mat-raised-button (click)="changePhoneNumber()" style="margin-left: 10px; height: 40px;">변경</button>
      </div>
    </div>

    <div class="getOut-field" *ngIf="isClickGetOut" style="margin-left: 100px; margin-top: 50px;">
      <div>
        회원탈퇴하겠습니까?
        <button mat-raised-button (click)="getOut()" style="margin-left: 10px;">
          회원탈퇴하기
        </button>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
